<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Branding</title>
  <link rel="stylesheet" href="{{ staticDir }}/styles.css">
</head>

<body>
  <h1>Branding Content</h1>
  {{ content | safe }}
</body>
</html>